.App {
  font-family: sans-serif;
  text-align: center;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}

body {
  background: linear-gradient(
    160deg,
    rgb(193, 156, 233) 25%,
    rgb(66, 120, 227) 50%,
    rgb(67, 75, 143) 100%
  );

  background-repeat: no-repeat;
    background-attachment: fixed;
  
}

#login-form,#verify-otp-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  
  text-align: center;
  margin: 100px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

